<h1 class="title is-1">Wellcome to lab 10</h1>
<form method="POST">
    <label for="name">Your Name</label>
    <div id="name">
        <input type="text" id="firstName" placeholder="name" name="name" />
        <input type="text" id="lastName" placeholder="surname" name="surname" />
    </div>
    <br/>
    <label for="date">Date of Birth</label>
    <div id="date">
        <input type="number" name="month" placeholder="month"/>
        <input type="number" name="day" placeholder="day"/>
        <input type="number" name="year" placeholder="year"/>
    </div>
    <br/>
    <div>
    <label for="group">Group Number</label>
    <input id="group" type="number" placeholder="4-digit group number" name="group"/>
    </div>
    <br/>
    <div>
        <input type="submit"/>
    </div>
</form>
<br/>

Generated ID: @ViewData["GenId"]

       
